examples/example.json
[
    {
        "id": "a2bab5c285e5f68a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b51850c3a3f5590",
        "type": "object-validation",
        "z": "a2bab5c285e5f68a",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "constraints": [
            {
                "property": "id",
                "validator": "required",
                "value": "",
                "error": "",
                "typeValue": "str"
            },
            {
                "property": "id",
                "validator": "uuid",
                "value": "",
                "error": "Invalid ID",
                "typeValue": "str"
            },
            {
                "property": "first_name",
                "validator": "required",
                "value": "",
                "error": "",
                "typeValue": "str"
            },
            {
                "property": "first_name",
                "validator": "maxlength",
                "value": "50",
                "error": "",
                "typeValue": "num"
            },
            {
                "property": "age",
                "validator": "maximum_number",
                "value": "80",
                "error": "",
                "typeValue": "num"
            },
            {
                "property": "age",
                "validator": "minimum_number",
                "value": "18",
                "error": "",
                "typeValue": "num"
            },
            {
                "property": "phones",
                "validator": "maximum_items",
                "value": "3",
                "error": "",
                "typeValue": "num"
            },
            {
                "property": "phones",
                "validator": "minimum_items",
                "value": "1",
                "error": "",
                "typeValue": "num"
            },
            {
                "property": "active",
                "validator": "type",
                "value": "boolean",
                "error": ""
            },
            {
                "property": "website",
                "validator": "url",
                "value": "",
                "error": "",
                "typeValue": "str"
            },
            {
                "property": "email",
                "validator": "email",
                "value": "",
                "error": "",
                "typeValue": "str"
            },
            {
                "property": "birthdate",
                "validator": "date",
                "value": "",
                "error": "",
                "typeValue": "str"
            }
        ],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "ec7e1f0dca41dbe3"
            ]
        ]
    },
    {
        "id": "b81a71f69efe9d60",
        "type": "inject",
        "z": "a2bab5c285e5f68a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"9a762dc1-0a60-498f-be59-121a327dce85\",\"first_name\":\"User1\",\"email\":\"user1@gmail.com\",\"age\":30,\"active\":true,\"phones\":[\"7453624362\"],\"website\":\"http://google.com\",\"birthdate\":\"2000-05-17\"}",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "4b51850c3a3f5590"
            ]
        ]
    },
    {
        "id": "ec7e1f0dca41dbe3",
        "type": "debug",
        "z": "a2bab5c285e5f68a",
        "name": "success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "3562974d24b68249",
        "type": "catch",
        "z": "a2bab5c285e5f68a",
        "name": "error",
        "scope": null,
        "uncaught": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "06a065a39edd16fa"
            ]
        ]
    },
    {
        "id": "06a065a39edd16fa",
        "type": "debug",
        "z": "a2bab5c285e5f68a",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    }
]